<core-root>
    <form-root>
        <form-row>
            <form-address tip="请选择地址">
                <i class="form_address_icon"></i>
                出发地
            </form-address>
            <form-address tip="请选择地址">
                <i class="form_address_icon"></i>
                目的地
            </form-address>
        </form-row>
        <form-row>
            <form-input tip="请输入联系人电话">
                <i class="form_mobile_icon"></i>联系电话
            </form-input>
        </form-row>
        <form-row>
            <form-image>任务附件</form-image>
            <form-textarea tip="请输入留言"></form-textarea>
        </form-row>
    </form-root>
</core-root>