<form-root>
    <form-row>
        <form-input tip="请输入联系人电话">
            <i class="form_mobile_icon"></i>联系电话
        </form-input>
    </form-row>
    <form-row>
        <form-image>任务附件</form-image>
        <form-textarea tip="请输入留言"></form-textarea>
    </form-row>
    <form-row>
        <form-switch (modelChange)="change($event)"></form-switch>
        <form-radio model="1"  (modelChange)="change($event)">
            <form-radio-item model="1">
                你好1
            </form-radio-item>
            <form-radio-item model="2">
                你好2
            </form-radio-item>
        </form-radio>
        <form-checkbox [model]="checkboxs">
            <form-checkbox-item model="1">
                1
            </form-checkbox-item>
            <form-checkbox-item model="2">
                2
            </form-checkbox-item>
        </form-checkbox>
    </form-row>

    <form-row>
        <form-select [items]="selects">
            请选择
        </form-select>
    </form-row>
</form-root>